# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Static analysis
.mypy_cache/
.ruff_cache/

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
.DS_Store